extends layout

include mixins/anchorButton

block content
  main
    h1.mb-4.text-2xl.font-bold Categories

    if categories
      ul.mb-6.list-none
        each category in categories 
          li
            if category.name === 'Uncategorised'
              a.text-zinc-500(class='hover:text-zinc-700', href=category.url) #{ category.name }
                span &nbsp;(Default)
            else
              a(href=category.url) #{ category.name }

    +anchorButton('Add category', '/category/create', 'blue')
