extends layout

include mixins/anchorButton
include mixins/formField
include mixins/hiddenField
include mixins/submitButton

block content
  main
    h1.mb-4.text-2xl.font-bold= title

    form.flex.flex-col.gap-4(class='xs:max-w-sm', method='POST')
      - const nameError = errors && errors.find((e) => e.path === 'name');

      +formField('Name', 'text', 'name', category, nameError)(
        required,
        minlength=3
      )
      +formField('Description', 'textarea', 'desc', category)
      +hiddenField('url', url)

      if requirePassword
        - const passwordError = errors && errors.find((e) => e.path === 'password');
        +formField('Admin password', 'password', 'password', { password }, passwordError)

      section.grid.grid-cols-2.gap-2.self-end
        +anchorButton('Cancel', url)
        +submitButton('Save', 'submit', 'blue')
